name: test
on:
- push
- pull_request
jobs:
  gig:
    runs-on: ubuntu-latest

    env:
      BUNDLE_WITHOUT: dev test doc # ruby/setup-ruby's invocation of bundle install will be without these groups

    steps:

    - uses: actions/checkout@v4

    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: head
        bundler-cache: true

    - run: bundle exec rake gig

  test:
    strategy:
      fail-fast: false
      matrix:
        ruby-version:
        - jruby
        - truffleruby
        - truffleruby+graalvm
        - '2.5'
        - '2.7'
        - '3.0'
        - head
        runs-on:
        - ubuntu-latest

    runs-on: ${{ matrix.runs-on }}

    steps:

    - uses: actions/checkout@v2
      with:
        submodules: recursive

    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby-version }}
        bundler-cache: true

    - run: bundle exec rake test:each_format

    - name: Report to Coveralls
      uses: coverallsapp/github-action@1.1.3
      with:
        github-token: ${{ secrets.github_token }}
        flag-name: "ruby: ${{ matrix.ruby-version }} os: ${{ matrix.runs-on }}"
        parallel: true

  finish:
    needs: test
    runs-on: ubuntu-latest
    steps:

    - name: Report completion to Coveralls
      uses: coverallsapp/github-action@1.1.3
      with:
        github-token: ${{ secrets.github_token }}
        parallel-finished: true
